# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6
print(number)

6

##### Assinging float

In [5]:
numbFloat = 2.3
print(numbFloat)
numbFloat = 7.2
print(numbFloat)

2.3
7.2

#### Performing Calculations on ints and floats

##### Addition

In [10]:
num1 = 2
num2 = 5.4
result = num1 + num2
print(result)
new_result = result + 2
print(new_result)
new_result += 2
print(new_result)
print(new_result + 2)
# these all return what you're looking for!

7.4
9.4
11.4
13.4

##### Subtraction

In [14]:
result_diff = num2 - num1
print(result_diff)
result_diff -=1
print(result_diff)
print(result_diff -1)

3.4000000000000004
2.4000000000000004
1.4000000000000004

##### Multiplication

In [15]:
result_mult = num1 * num2
print(result_mult)
result_mult *= 2
print(result_mult)
print(result_mult * 2)

10.8
21.6
43.2

##### Division

In [16]:
result_div = num2/num1
print(result_div)
result_div /= 2
print(result_div)
print(result_div / 2)

2.7
1.35
0.675

##### Floor Division

In [19]:
result_floor = num2//num1
print(result_floor)
result_floor //= 2
print(result_floor)
print(result_floor / 2)
# rounds down

2.0
1.0
0.5

##### Modulo

In [27]:
result_mod = 10 % 3
print(result_mod)
result_mod % = 3
print(result_mod)
print(result_mod % 2)
# will print remainder

1
1
1

##### Exponential

In [28]:
square = 5**2
print(square)
square **=2
print(square)

25
625

### String Input-Output

##### String Assignment

In [31]:
name='Joel'
print(name)

Joel

##### print() <br>
<p>Don't forget about end=' '</p>

In [34]:
print( 'this is my first name: ', name)
print('full name: ', name, end=' Aparicio')

this is my first name:  Joel
full name:  Joel Aparicio

##### String Concatenation

In [36]:
first_name='John'
last_name='Smith'
full_name=first_name +" "+ last_name
print(full_name)
full_name+=' Jr'
print(full_name)

John Smith
John Smith Jr

##### Type Conversion

In [39]:
number='32'
change_type_num= int(number)
# print(number +1) cant add a interger to a string
print(change_type_num +1)

33

##### input()

In [42]:
# input always returns a string...
# name = input("What's your name? ")
# print("Nice to meet you, " + name)

age=int(input("What's your age? "))
add_age =age + 5
print(add_age)

What's your age? 25
30

##### format()

In [47]:
age=input("What's you age? ")
result_string= "You are {} {} and getting wiser!".format(age, name)
print(result_string)
result_again= f"{age} is a great time in life!"
print(result_again)

What's you age? 12
You are 12 Jozzuvv and getting wiser!
12 is a great time in life!

##### Old Way (python 2)

In [48]:
result_string2= "You are %s, and you look great for your age!" %age
print(result_string2)

You are 12, and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [1]:
format_name = input('Name? ')
format_color = input('Car color? ')
format_year = int(input('Car year? '))
format_make = input('Car make? ')
format_model = input('Car model? ')

Name? joe
Car color? red
Car year? 07
Car make? chevy
Car model? cobalt

### If Statements

In [56]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

numb1 = 5
numb2 =10
numb3 = 0
# if numb1 == 6:
#     print('This is true!')
# else:
#     print('That was not true! it is false...')

if numb2 > numb1 and numb3:
    print("Num2 is greater!")
elif numb1 > numb2:
    print("Numb1 is greater!")
else:
    print("Equal values...")

Equal values...

##### 'is' keyword

In [57]:
# The 'is' keyword is for checking for the same object, but not the same value

numb3 = 55
if numb3 is 55:
    print("Si... Same number and object!")

Si... Same number and object!

<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\apari\AppData\Local\Temp/ipykernel_17724/3339656477.py:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if numb3 is 55:

##### 'in' keyword

In [62]:
# Check if a character is "in" a string
char_name = 'Frodo Baggins'
if 'Frodo' in char_name:
    print('The ring bearer!')

The ring bearer!

##### 'not in' keyword'

In [70]:
sega_char = 'sonic'

if 'a' not in sega_char:
    print('"a" is not in here...')

"a" is not in here...

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [71]:
user_inp = input('give me some input! ')
if 'p' in user_inp:
    print('Cool beans!')
else:
    print('No P here bud..')

give me some input! Everything goin ok dude!
No P here bud..

## Using 'and'/'or' with If Statements

In [1]:
num11=15
num12=3
num13=10
num14=3
# if with 'and' statement
if num11 / 5 == num12 and num13 -7 == num14:
    print('True and True')
    
    #if with 'or' statement
    if num11 > num12 or num13 == num14:
        print('True and False')

True and True
True and False

### Elif Statements

In [5]:
firstName = input('What\'s your name? ')
if firstName == 'Smith':
    print('The name is smith.')
elif firstName == 'Brandon':
    print('The name is Brandon')
elif firstName != 'Max':
    print('The name is not Max')
else:
    print('The name is Max')

What's your name? max.upper()
The name is not Max

### Else Statements

In [ ]:
# see above

### For Loops

In [8]:
# for counter in condition
name='Brandon Apol'
for letter in name:
    print(letter)

Brandon Apol

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [10]:
for i in range(20):
    if i == 5:
        continue
    print(i)
# continue will skip the index called upon

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [11]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
name = 'Brandon Apol'
for i in name:
    pass

##### Double For Loops

In [12]:
for i in range(5):
    for j in range(5):
        print('i =', i, 'j = ', j)

i = 0 j =  0
i = 0 j =  1
i = 0 j =  2
i = 0 j =  3
i = 0 j =  4
i = 1 j =  0
i = 1 j =  1
i = 1 j =  2
i = 1 j =  3
i = 1 j =  4
i = 2 j =  0
i = 2 j =  1
i = 2 j =  2
i = 2 j =  3
i = 2 j =  4
i = 3 j =  0
i = 3 j =  1
i = 3 j =  2
i = 3 j =  3
i = 3 j =  4
i = 4 j =  0
i = 4 j =  1
i = 4 j =  2
i = 4 j =  3
i = 4 j =  4

### While Loops

In [19]:
#syntax:
#while keyword, condition statement
num=0
while num < 10:
    print(num)
    num+= 1

0

##### Looping 'While True'

In [23]:
gameOver = False
# while True:
#     print('infinite loop')
#     if gameOver == False:
#         userInput = input('would you like to stop? ')
#         break

infinite loop
would you like to stop? yes

##### While & For Loops Used Together

In [25]:
num = 0
while num < 5:
    print('\nWhile loop iteration: ' + str(num))
    
    for i in range(2):
        print('For loop iteration: ', str(i))
    num+=1

While loop iteration: 0
For loop iteration:  0
For loop iteration:  1

While loop iteration: 1
For loop iteration:  0
For loop iteration:  1

While loop iteration: 2
For loop iteration:  0
For loop iteration:  1

While loop iteration: 3
For loop iteration:  0
For loop iteration:  1

While loop iteration: 4
For loop iteration:  0
For loop iteration:  1

### Built-In Functions

##### range()

In [3]:
# range(start, stop, step up)

for i in range(1, 20, 3):
    print(i)

1
4
7
10
13
16
19

##### len()

In [6]:
name= "max"
length = len(name)
print(length)

3

##### help()

In [7]:
# Use this function to view more info about a python function
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [10]:
# Check a variable to find out what object family(or data type)it belongs to...
#  isinstance(var, type)
num = 4.5
if isinstance((num), int):
    print(f'{num} is an int')
else:
    print(f'{num} is a float')

4.5 is a float

##### abs()

In [11]:
# /-5/ = 5
print(abs(-5))

5

### Try and Except

In [17]:
# use this to log out graceful and useful error messages
# does not stop the program! Neato!
try:
    input_num = int(input('Guess a number '))
    print('Your number is: ' + str(input_num))
except:
    print('That didn\'t work! Change your input!')

Guess a number 17
Your number is: 17

### Lists

##### Declaring Lists

In [32]:
list1 = []

names =["Max", "Cindy", "Cathy", "Bob", "Nate"]
print(names)

['Max', 'Cindy', 'Cathy', 'Bob', 'Nate']

##### Indexing a List

In [37]:
# [start: stop: step:]
# Single index
print(names[3])
# Print starting at index 1, going to the end
print(names[1:])
# print starting at the begining of a list until a number
print(names[:2])
# Print starting at the index 1 and going up by 2 each iteration
print(names[1::2])
# print starting at the back in reverse order
print(names[::-1])

Bob
['Cindy', 'Cathy', 'Bob', 'Nate']
['Max', 'Cindy']
['Cindy', 'Bob']
['Nate', 'Bob', 'Cathy', 'Cindy', 'Max']

##### .append()

In [47]:
names.append('Jozzuv')
print(names)

['Max', 'Cindy', 'Cathy', 'Devon', 'Bob', 'Nate', 'Jozzuv', 'Jozzuv', 'Jozzuv', 'Jozzuv', 'Jozzuv', 'Jozzuv', 'Jozzuv', 'Jozzuv']

##### .insert()

In [38]:
names.insert(3, 'Devon')
print(names)

['Max', 'Cindy', 'Cathy', 'Devon', 'Bob', 'Nate']

##### .pop()

In [62]:
# defaults to the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it to a variable
myName = names.pop(5)
print(myName)
print(names)

Jozzuv
['Max', 'Cindy', 'Cathy', 'Devon', 'Bob', 'Jozzuv']


##### .remove()

In [66]:
# value to be removed rather than index
# names.remove('Cathy')
# print(names)
# names.remove('Cathy')
print(names)

while 'Bob' in names:
    names.remove('Bob')
print(names)

['Max', 'Cindy', 'Devon', 'Bob', 'Jozzuv']
['Max', 'Cindy', 'Devon', 'Jozzuv']

##### del()

In [67]:
# goes by index, rather than value
# be careful with del, it can cuase indexing errors if not used carefully

del(names[1])
print(names)

['Max', 'Devon', 'Jozzuv']

##### Concatenating Two Lists

In [71]:
# will append two lists together, will NOT add the values
list2= [0, 1, 2]
list3= [3, 4, 5]
largeList= list2 + list3
print(largeList)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [ ]:
# lists can hold any type of other elements! including other lists...
# they can go as deep as you want. this is called a nested list.

names = ['Max', 'Sam', 'Josh', ['Sally',['sue', 'jim'], 'tamika']]
print(names)
print(names[3][1][1])

##### Looping Through Lists

In [1]:
# two ways to loop through lists! One is by index; the other is by using the 'in' keyword
# By index
names = ['Max', 'Sam', 'Josh', ['Sally',['sue', 'jim'], 'tamika']]
for i in range(len(names)):
    print(names[i])
    
# Loop with keyword 'in'
# for i in names:
#     print(names)

Max
Sam
Josh
['Sally', ['sue', 'jim'], 'tamika']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [ ]:
# num = range(1,11)
# for n in num:
#     if n < 11:
#         print((n)**3)
        
num = range(1, 26)
for n in num:
    while n <= 26:
        num = n**3
        if num <= 1000:
            print(num)
            n+=1

1
8
27
64
125
216
343
512
729
1000

In [ ]:
## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [42]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break




for number in range(1, 100, +1):
    if number > 1:
        for i in range(2, number):
            if(number%i)==0:
                break
        else:
            print(number)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [ ]:
age = int(input("what is your age? "))
if age < 18:
    print(f"you are {age}?!?... still kids.")
elif age >= 18 and age <=65:
    print(f"you are {age}?!?... You're adults.")
else:
    print(f"you are {age}?!?... You're seniors.")